<%- include('partials/header.ejs') %>
<h1><%= postTitle %></h1>
<p><%= postContent %></p>
<%- include('partials/footer.ejs') %>

<!-- This will load after the logic has matched the post title to it's equivalent in the posts list, it then list the post's title and content -->